:root {
    --primary-bg-color: #333333; /* Light Black/Dark Gray */
    --primary-text-color: #FFFFFF; /* White */
    --secondary-color: #AAAAAA; /* Gray */
    --btn-color: #e74c3c; /* Red */
    --link-hover-color: #e67e22; /* Orange */
    --font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#mainHeader {
    background-color: darken(var(--primary-bg-color), 5%);
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--link-hover-color);
}

.btn-resume {
    background-color: var(--btn-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken(var(--btn-color), 10%);
    }
}


.actions {
    display: flex;
    align-items: center;
}

.icon.linkedin, .icon.github {
    margin-left: 10px;
    font-size: 24px; /* Adjust the size of the icons */
    color: var(--secondary-color);
    transition: color 0.3s;
}

.icon.linkedin:hover, .icon.github:hover {
    color: var(--link-hover-color);
}

#mainFooter {
    background-color: var(--footer-color);
    color: var(--primary-color);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;  /* Ensure footer is pushed to the bottom */
}

#mainFooter p {
    margin: 0;
    padding: 5px 0;
}

#whoami, #experience, #currentprojects, #Skills, #projects, #education {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.title-container {
    flex: 1;
}

.title-container span {
    background-color: red;
    padding: 5px 10px;
    font-size: 12px;
}

.title-container h1 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-container p {
    font-size: 16px;
}

.video-container {
    flex: 1;
    padding-left: 30px;
}

.video-container iframe, .video-container img {
    width: 100%;
    max-height: 315px;
    object-fit: cover;
}

.project-container {
    display: flex;

    flex-wrap: wrap;
}

/* Project Card */
.project-card {
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 10px;
    padding: 15px;
    transition: box-shadow 0.3s;
}

.project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Slightly darker and wider shadow on hover */
}

.project-card h2, .project-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.project-card p {
    font-size: 16px;
    margin: 10px 0;
}

.project-card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

/* Project Card end*/

.section-title {
    display: flex;
    align-items: center;
    font-size: 48px;
}

.section-title::after {
    content: '';
    flex-grow: 1;  /* Makes the line take up all available space to the right */
    height: 1px;  /* Thickness of the line */
    background-color: rgba(255, 255, 255, 0.5);  /* semi-transparent white line */
    margin-left: 20px;  /* Space between text and line */
}

.job {
    margin-bottom: 20px;
}

.company {
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 25px;
}

.location {
    font-size: 16px;
    padding-left: 25px;
}

#Skills {
    padding: 40px 0;
    background-color: darken(var(--primary-bg-color), 5%);
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.skill-category {
    margin-bottom: 20px;
}

.skill-category h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.skills ul {
    list-style-type: disc;
    padding-left: 40px;
}

.skills li {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
}

.skills p {
    font-weight: 500;
    font-size: 18px;
}


/* For Tablets */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .project-container {
        justify-content: center;
    }

    .project-card {
        width: 100%; /* Make project cards full width on smaller screens */
        margin: 20px 0; /* Adjust margin for stacked cards */
    }

    .video-container {
        padding-left: 0;
        margin-top: 20px; /* Add spacing between content areas */
    }

    .section-title::after {
        margin-left: 10px; /* Reduce space between text and line */
    }
}

/* For Mobile Phones */
@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    nav a {
        margin: 0 5px;
    }

    .title-container h1 {
        font-size: 36px;
    }

    .project-card h2, .project-card h3 {
        font-size: 16px;
    }

    .project-card p {
        font-size: 14px;
    }

    .section-title {
        font-size: 32px;
    }

    .skill-category h3 {
        font-size: 20px;
    }

    .skills li, .skills p {
        font-size: 16px;
    }
}



